*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* COMMON */
.white-background{
    background-color: white;
}
/* HEADER */
header{
    height: 70px;
    position: fixed;
    width: 100%;
}

.logo-content{
    max-width: 60px;
}

.warning{
    color: #ff8f00;
    width: 100%;
}

/* MAIN */
main{
    height: 100vh;
}

#top-content{
    display: flex;
    background-color: green;
    height: 100%;
}
#sidebar{
    width: 60px;
    background-color: #12283f;
    background-image: url("./img/sidebar-bg.png");
    margin-top: 70px;
}

ul{
    list-style: none;
    color: white;
    padding:24px 36px;
}

ul li{
    margin: 8px 0;
}

#content{
    background-color: red;
    width: 100%;
    margin-top: 70px;
    overflow-y: auto;
}


.content-up{
    height: 30%;
    background-color: orange;
}

.content-down{
    height: 70%;
    background-color: darkorchid;
}

.red{
    background-color: red;
    height: 100%;
    border: 1px dashed black;
}